<nav class="fixed top-0 left-0 right-0 z-50 bg-white bg-opacity-90 backdrop-blur-sm transition-transform duration-300 ease-in-out"
     [ngClass]="{'transform -translate-y-full': isNavbarHidden}">
  <div class="container mx-auto w-11/12">
    <div class="flex justify-between items-center py-4">
      <!-- Logo and brand name -->
      <a routerLink="/" class="flex items-center" (click)="selectOption('home')">
        <img src="../../../assets/images/logo.png" class="h-12 w-auto mr-3" alt="Logo">
        <span class="text-xl font-semibold">E-Commerce</span>
      </a>

      <!-- Mobile menu button and cart -->
      <div class="flex items-center lg:hidden">
        <!-- Mobile cart -->
        <a routerLink="/cart" class="mr-4 text-gray-600 hover:text-gray-900 flex items-center">
          <i class="fas fa-shopping-basket"></i>
          <span class="ml-1">{{ cartTotal }} DH</span>
          <span class=" bg-red-500 text-white rounded-full w-5 h-5 flex items-center justify-center text-xs">
            {{ cartItemsCount }}
          </span>
        </a>

        <!-- Mobile menu button -->
        <button (click)="toggleNavbar()">
          <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path strokeLinecap="round" strokeLinejoin="round" strokeWidth="2" d="M4 6h16M4 12h16m-7 6h7"></path>
          </svg>
        </button>
      </div>

      <!-- Desktop menu -->
      <div class="hidden lg:flex lg:items-center lg:w-auto">
        <ul class="flex flex-col lg:flex-row lg:space-x-4">
          <li><a routerLink="/" class="block py-2 hover:text-black"
              [ngClass]="{'text-gray-500': selectedOption !== 'home', 'text-black': selectedOption === 'home'}"
              (click)="navigateTo('/')" (click)="selectOption('home')">HOME</a></li>
          <li><a routerLink="/products" class="block py-2 hover:text-black"
              [ngClass]="{'text-gray-500': selectedOption !== 'products', 'text-black': selectedOption === 'products'}"
              (click)="navigateTo('/products')" (click)="selectOption('products')">PRODUCTS</a></li>
          <li><a routerLink="/products" [queryParams]="{gender: 'MALE'}" class="block py-2 hover:text-black"
              [ngClass]="{'text-gray-500': selectedOption !== 'men', 'text-black': selectedOption === 'men'}"
              (click)="navigateTo('/products', {type: 'gender', value: 'MALE'})" (click)="selectOption('men')">FOR MEN</a></li>
          <li><a routerLink="/products" [queryParams]="{gender: 'FEMALE'}" class="block py-2 hover:text-black"
              [ngClass]="{'text-gray-500': selectedOption !== 'women', 'text-black': selectedOption === 'women'}"
              (click)="navigateTo('/products', {type: 'gender', value: 'FEMALE'})" (click)="selectOption('women')">FOR WOMEN</a></li>
          <li class="relative" (mouseenter)="showBrandsDropdown()" (mouseleave)="hideBrandsDropdown()">
            <a routerLink="/products" class="block py-2 hover:text-black"
              [ngClass]="{'text-gray-500': selectedOption !== 'brands', 'text-black': selectedOption === 'brands'}"
              (click)="selectOption('products')">BRANDS</a>
            <div class="absolute left-0 mt-2 w-48 bg-white shadow-lg py-2 z-10 transition-opacity duration-300"
              [ngClass]="{'opacity-0 invisible': !isBrandsDropdownVisible, 'opacity-100 visible': isBrandsDropdownVisible}">
              <a *ngFor="let brand of brands" class="block px-4 py-2 hover:bg-gray-100 cursor-pointer"
                (click)="selectBrand(brand.name)">{{ brand.name }}</a>
            </div>
          </li>
          <li><a routerLink="/about-us" class="block py-2 hover:text-black"
              [ngClass]="{'text-gray-500': selectedOption !== 'about-us', 'text-black': selectedOption === 'about-us'}"
              (click)="navigateTo('/about-us')" (click)="selectOption('about-us')">ABOUT-US</a></li>
          <li><a routerLink="/user-page" class="block py-2 hover:text-black"
              [ngClass]="{'text-gray-500': selectedOption !== 'profile', 'text-black': selectedOption === 'profile'}"
              (click)="selectOption('profile')">PROFILE</a></li>
        </ul>
              </div>

      <!-- Desktop search, cart, and login -->
      <div class="hidden lg:flex items-center space-x-4">
        <div class="search-container relative">
          <form class="flex relative" (ngSubmit)="onSearch()">
            <input type="search" [(ngModel)]="searchQuery" name="search" placeholder="Search"
                (input)="onSearchInput()"
                class="px-3 py-1 border border-gray-300 rounded-l-md focus:outline-none focus:ring-2 focus:ring-green-500">
            <button type="submit"
                class="px-4 py-1 bg-green-500 text-white rounded-r-md hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-500">Search</button>
              <!-- Dropdown for search results -->
              <div *ngIf="isSearchDropdownVisible && searchResults.length > 0"
                class="absolute top-full left-0 w-full bg-white shadow-lg rounded-b-md mt-1 z-50 max-h-60 overflow-y-auto">
                <div *ngFor="let product of searchResults"
                    class="flex items-center p-2 hover:bg-gray-100 cursor-pointer"             [routerLink]="['/product', product.id]"
                    >
                    <img [src]="product.imageUrl" [alt]="product.name" class="w-12 h-12 object-cover mr-2">
                    <div class="flex-grow">
                        <div class="font-semibold">{{ product.name }}</div>
                        <div class="text-sm text-gray-600">{{ product.price }}</div>
                    </div>
                </div>
            </div>
        </form>
        </div>

        
<div class="relative" (mouseenter)="showCartDropdown()" (mouseleave)="hideCartDropdown()">
            <a routerLink="/cart" class="text-gray-600 hover:text-gray-900 flex items-center"
              (click)="toggleCartDropdown(); $event.preventDefault()">
              <i class="fas fa-shopping-basket"></i>
              <span class="ml-1">{{ cartTotal }} DH</span>
              <span
                class="absolute -top-2 -right-2 bg-red-500 text-white rounded-full w-5 h-5 flex items-center justify-center text-xs">
                {{ cartItemsCount }}
              </span>
            </a>
            <div class="absolute right-0 mt-2 w-80 bg-white shadow-lg py-2 z-10 transition-opacity duration-300"
              [ngClass]="{'opacity-0 invisible': !isCartDropdownVisible, 'opacity-100 visible': isCartDropdownVisible}">
              <div *ngFor="let item of cartItems" class="px-4 py-2 flex items-center justify-between border-b">
                <div class="flex items-center">
                  <img [src]="item.product.imageUrl" alt="{{ item.product.name }}" class="w-12 h-12 object-cover mr-2">
                  <div>
                    <div class="font-semibold">{{ item.product.name }}</div>
                    <div class="text-sm text-gray-600">{{ item.quantity }} x {{ item.product.price }} DH </div>
                  </div>
                </div>
                <button (click)="removeFromCart(item.product.id,item.quantity)" class="text-red-500 hover:text-red-700">
                  <i class="fas fa-trash"></i>
                </button>
              </div>
              <div class="px-4 py-2 font-bold text-lg border-t">
                Total: {{ cartTotal }} DH
              </div>
              <div class="px-4 py-2">
                <button routerLink="/cart" class="w-full px-4 py-2 bg-blue-500 text-white mb-2 hover:bg-blue-600">VIEW
                  CART</button>
                <button (click)="checkout()"
                  class="w-full px-4 py-2 bg-orange-500 text-white hover:bg-orange-600">CHECKOUT</button>
              </div>
            </div>
          </div>

        
        <ng-container *ngIf="!isLoggedIn; else loggedInTemplate">
          <a href="#" class="text-gray-600 hover:text-gray-900 text-sm" (click)="login()">SIGN UP / LOG IN</a>
        </ng-container>
        
        <ng-template #loggedInTemplate>
          <span class="text-gray-600 text-sm">Welcome, {{ username }}</span>
          <a href="#" class="text-gray-600 hover:text-gray-900 text-sm ml-2" (click)="logout()">LOGOUT</a>
        </ng-template>
              </div>
    </div>

    <!-- Mobile menu (hidden by default) -->
    <div class="lg:hidden" [ngClass]="{'hidden': isMenuCollapsed}">
      <ul class="mt-2 space-y-2">
        <li><a routerLink="/" class="block py-2" (click)="navigateToAndCloseMenu('/')">HOME</a></li>
        <li><a routerLink="/products" class="block py-2" (click)="navigateToAndCloseMenu('/products')">PRODUCTS</a></li>
        <li><a routerLink="/products" [queryParams]="{gender: 'MALE'}" class="block py-2" 
            (click)="navigateToAndCloseMenu('/products', {type: 'gender', value: 'MALE'})">FOR MEN</a></li>
        <li><a routerLink="/products" [queryParams]="{gender: 'FEMALE'}" class="block py-2"
            (click)="navigateToAndCloseMenu('/products', {type: 'gender', value: 'FEMALE'})">FOR WOMEN</a></li>
        <li>
          <a (click)="toggleMobileBrandsDropdown()" class="block py-2">BRANDS</a>
          <div [ngClass]="{'hidden': !isMobileBrandsDropdownVisible}" class="pl-4">
            <a *ngFor="let brand of brands" class="block py-2" (click)="selectBrandAndCloseMenu(brand.name)">{{ brand.name }}</a>
          </div>
        </li>
        <li><a routerLink="/about-us" class="block py-2" (click)="navigateToAndCloseMenu('/about-us')">ABOUT-US</a></li>
        <li><a routerLink="/user-page" class="block py-2" (click)="navigateToAndCloseMenu('/user-page')">PROFILE</a></li>
      </ul>

      <!-- Mobile search -->
      <div class="mt-4 relative">
        <form (ngSubmit)="onMobileSearch()" class="flex">
          <input type="search" [(ngModel)]="MsearchQuery" name="search" placeholder="Search" (input)="monSearchInput()"
                 class="flex-grow px-3 py-1 border border-gray-300 rounded-l-md focus:outline-none focus:ring-2 focus:ring-green-500">
          <button type="submit"
                  class="px-4 py-1 bg-green-500 text-white rounded-r-md hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-500">
            Search
          </button>
        </form>

        <!-- Dropdown for search results -->
        <div *ngIf="isSearchDropdownVisible && searchResults.length > 0"
          class="absolute top-full left-0 w-full bg-white shadow-lg rounded-b-md mt-1 z-50 max-h-60 overflow-y-auto">
          <div *ngFor="let product of searchResults"
              class="flex items-center p-2 hover:bg-gray-100 cursor-pointer"
              (click)="navigateToProductAndCloseMenu(product.id)">
              <img [src]="product.imageUrl" [alt]="product.name" class="w-12 h-12 object-cover mr-2">
              <div class="flex-grow">
                  <div class="font-semibold">{{ product.name }}</div>
                  <div class="text-sm text-gray-600">{{ product.price }}</div>
              </div>
          </div>
        </div>
      </div>

      <!-- Mobile login/signup -->
      <div class="mt-4">
        <ng-container *ngIf="!isLoggedIn; else mobileLoggedInTemplate">
          <a href="#" class="block py-2" (click)="login()">SIGN UP / LOG IN</a>
        </ng-container>

        <ng-template #mobileLoggedInTemplate>
          <span class="block py-2">Welcome, {{ username }}</span>
          <a href="#" class="block py-2" (click)="logout()">LOGOUT</a>
        </ng-template>
      </div>
    </div>
  </div>
</nav>