@tailwind base;
@tailwind components;
@tailwind utilities;

.brand-logo-container {
  width: 100%;
  max-width: 300px;
  aspect-ratio: 1 / 1;
  margin: 0 auto;
  border: 10px solid;
  border-image: linear-gradient(to right, #add8e6, #4b0082) 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand-logo {
  max-width: 80%;
  max-height: 80%;
  object-fit: contain;
  cursor: pointer;
}

.brand-name {
  @apply font-bold block mt-2 text-xs sm:text-sm;
}

.nav-button {
  @apply absolute top-0 bottom-0 w-10 bg-white text-black border-none text-lg cursor-pointer z-10 opacity-0 transition-all duration-300 ease-in-out rounded;
}

.brand-slider-wrapper:hover .nav-button {
  @apply opacity-60;
}

.nav-button:hover {
  @apply opacity-100;
}

.nav-button.left {
  @apply left-0;
}

.nav-button.right {
  @apply right-0;
}

.nav-button:disabled {
  @apply opacity-0 cursor-not-allowed;
}

@media (max-width: 640px) {
  .brand-logo-container {
    max-width: 200px;
  }
}
