.brand-slider-wrapper {
  @apply mx-auto max-w-[80%] my-10;
}

.brand-slider-container {
  @apply relative w-full overflow-hidden;
}

.brand-slider-viewport {
  @apply w-full overflow-hidden;
}

.brand-slider {
  @apply flex transition-transform duration-300 ease-in-out cursor-grab select-none;
}

.brand-slider:active {
  @apply cursor-grabbing;
}

.brand-item {
  @apply flex-none w-1/4 text-center px-1 box-border;
  cursor: pointer;
}

.brand-logo-container {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  border: 10px solid;
  border-image: linear-gradient(to right, #add8e6, #4b0082) 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand-logo {
  max-width: 250px;
  max-height: 250px;
  object-fit: contain;
  cursor: pointer;
}




.brand-name {
  @apply font-bold block mt-[10px] text-sm;
}

.nav-button {
  @apply absolute top-0 bottom-0 w-[40px] bg-white text-black border-none text-lg cursor-pointer z-10 opacity-0 transition-all duration-300 ease-in-out rounded;
}

.brand-slider-container:hover .nav-button {
  opacity: 0.6;
}

.nav-button:hover {
  opacity: 1 !important;
}

  .nav-button.left {
    left: 0;
  }

  .nav-button.right {
    right: 0;
  }

  .nav-button:disabled {
    opacity: 0;
    cursor: not-allowed;
  }

@media (max-width: 767px) {
  .brand-slider-wrapper {
    @apply max-w-[90%];
  }
  .brand-slider {
    @apply gap-[15px];
  }

  .brand-item {
    @apply w-1/3;
  }

  .brand-logo-container {
    @apply w-[100px] h-[100px];
  }

  .brand-logo {
    @apply max-w-[80px] max-h-[80px];
  }

  .brand-name {
    @apply text-xs;
  }
}
