<div class="otp-config">
    <img src="../../../assets/images/msg.png" class="rounded-circle avatar-lg img-thumbnail mb-3" alt="profile-image">
    <h2 class="text">Verfication code</h2>
    <p class="mb-3">Please enter the 5-digits code you recieved.</p>
    <form #form="ngForm">
        <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="{length:5}"></ng-otp-input>
        <div class="text-center">
            <button type="button" (click)="onSubmitOtp()" class="btn btn-sm pay-button my-4">Submit Otp</button>
        </div>
    </form>
</div>