<div id="productCarousel" class="carousel slide mt-10" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item" *ngFor="let banner of banners; let i = index" [class.active]="i === 0">
      <div class="banner-container">
        <img [src]="banner.imageUrl" [alt]="banner.alt" class="banner-image">
        <div class="banner-content">
          <button class="btn btn-primary" (click)="goToCategory(banner.category)">View More</button>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#productCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#productCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
