<div class="product-page-container">
  <div class="product-page-container">
    <div *ngIf="isLoading">Loading product...</div>
    <div *ngIf="error">{{ error }}</div>
    <div *ngIf="product && !isLoading" class="product-content">
  <div *ngIf="product" class="product-content">
    <div class="image-container">
      <img [src]="product.imageUrl" alt="{{ product.name }}" class="product-image">
    </div>
    <div class="details-container">
      <h1 class="product-name">{{ product.name }}</h1>
      <p class="product-price">{{ product.price }} DH</p>
      <div class="quantity-selector">
        <button mat-icon-button (click)="decreaseQuantity()">
          <mat-icon>remove</mat-icon>
        </button>
        <span>{{ quantity }}</span>
        <button mat-icon-button (click)="increaseQuantity()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <p *ngIf="maxQuantityError" class="error-message">You can't surpass the available quantity.</p>
      <button mat-raised-button color="accent" (click)="addToCart()">ADD TO CART </button>
      <p class="categories">Categories: {{ product.brandName }}, {{ product.sexe }}</p>
      <div class="product-description">
        <h2>Description</h2>
        <p>{{ product.description }}</p>
      </div>
    </div>
  </div>
  <div *ngIf="!product">
    Product not found
  </div>
</div>